<extend name='Admin@Public:form' />

<block name='form'>
    <div class="form-group">
        <label class="col-sm-2 control-label tr">卡券分类 <b class="required">*</b></label>
        <div class="col-sm-9">
            <select name='card_type' class='form-control'>
                <!--<option <eq name="vo.card_type" value="DISCOUNT">selected</eq> value="DISCOUNT">折扣券</option>-->
                <option <eq name="vo.card_type" value="CASH">selected</eq> value="CASH">代金券</option>
                <!--<option <eq name="vo.card_type" value="GIFT">selected</eq> value="GIFT">礼品券</option>-->
                <!--<option <eq name="vo.card_type" value="GROUPON">selected</eq> value="GROUPON">团购券</option>-->
                <!--<option <eq name="vo.card_type" value="GENERAL_COUPON">selected</eq> value="GENERAL_COUPON">优惠券</option>-->
            </select>
        </div>
    </div>

    <div id="card_detail"></div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">卡券LOGO <b class="required">*</b></label>
        <div class="col-sm-9">
            <input type='hidden' name="logo_url" value="{:to_domain($vo['logo_url'])}" />
            <img alt="" class="upload_one_img cursor img-thumbnail" data-name="logo_url" title="分类图片" src="{$vo['logo_url']}" />
            <span class="help-block">注意：上传的图片限制文件大小限制 1MB，像素为 300*300，支持 JPG 格式</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">销券方式{$vo['logo_url']} <b class="required">*</b></label>
        <div class="col-sm-9">
            <select name='code_type' class='form-control'>
                <option <eq name="vo.code_type" value="CODE_TYPE_TEXT">selected</eq> value="CODE_TYPE_TEXT">文本</option>
                <option <eq name="vo.code_type" value="CODE_TYPE_BARCODE">selected</eq> value="CODE_TYPE_BARCODE">一维码</option>
                <option <eq name="vo.code_type" value="CODE_TYPE_QRCODE">selected</eq> value="CODE_TYPE_QRCODE">二维码</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">商户名字 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input name="brand_name" class="form-control" value="{$vo.brand_name}" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">卡券标题 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input name="title" class="form-control" value="{$vo.title}" maxlength="9" pattern="^.{0,9}$" title="请输入卡券标题，并且最多只能输入9个字" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">卡券副标题 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input name="sub_title" class="form-control" value="{$vo.sub_title}" maxlength="9" pattern="^.{0,9}$" title="请输入卡券标题，并且最多只能输入9个字" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">卡券颜色 <b class="required">*</b></label>
        <div class="col-sm-10">
            <div class="mt10">
                <volist name="color" id="c">
                    <input type="radio" name="color" value="{$c.name}" class="mt0" style="position: relative; top: -1px;" /><span style="height:16px;width:26px;margin-right: 6px;display:inline-block;background-color:{$c.value}"></span>
                </volist>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">适用门店 <b class="required">*</b></label>
        <div class="col-sm-9">
            <div class="row mb10" style="line-height: 34px;">
                <span class="fl" style="margin:0 15px;">
                    <input type="radio" name="store" value="0" <empty name='vo.location_id_list'>checked</empty> style="position: relative; top: 2px;" />无指定门店 
                </span>
            </div>
            <div class="row"  style="line-height: 34px;">
                <span class="fl" style="margin:0 15px;">
                    <input type="radio" name="store" value="1" style="position: relative; top: 2px;" />指定门店
                </span>
                <span class="fl">
                    <select multiple="multiple" name='store_id[]' class="form-control" id="select-store" style="width: 80px;">
                        <volist name="store" id="s">
                            <option value="{$s.poi_id}">{$s.business_name}<notempty name="s.branch_name">{$s.branch_name}</notempty></option>
                        </volist>
                    </select>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">操作提示 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input name="notice" class="form-control" value="{$vo.notice}" maxlength="16" pattern="^.{0,16}$" title="请输入卡券标题，并且最多只能输入9个字" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">使用须知 <b class="required">*</b></label>
        <div class="col-sm-9">
            <textarea name="description" class="form-control" value="{$vo.description}" maxlength="1000" pattern="^.{0,1000}$" title="请输入卡券使用须知，不超过1000个字" required /></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">有效期 <b class="required">*</b></label>
        <div class="col-sm-9">
            <div class="row mb10" style="line-height: 34px;">
                <span class="fl" style="margin:0 15px;">
                    <input type="radio" name="date_info_type" value="DATE_TYPE_FIX_TIME_RANGE" style="position: relative; top: 2px;" />固定日期区间 
                </span>
                <span class="fl"><input class="form-control" data-date name="begin_timestamp" /></span>
                <span class="fl" style="margin:0 15px">至</span>
                <span class="fl"><input class="form-control" data-date name="end_timestamp" /></span>
            </div>
            <div class="row"  style="line-height: 34px;">
                <span class="fl" style="margin:0 15px;">
                    <input type="radio" name="date_info_type" value="DATE_TYPE_FIX_TERM"  <neq name='vo.date_info_type' value='DATE_TYPE_FIX_TERM'>checked</neq> style="position: relative; top: 2px;" />固定时长（自领取后按天算）
                </span>
                <span class="fl" style="margin:0 15px 0 0">领取后，</span>
                <span class="fl">
                    <select name="fixed_begin_term" class="form-control" style="width: 80px;">
                        <option value="0">当天</option>
                        <volist name="fixed_term_day" id="term_day">
                            <option value="{$term_day}">{$term_day}</option>
                        </volist>
                    </select>
                </span>
                <span class="fl" style="margin:0 15px">生效，有效天数</span>
                <span class="fl">
                    <select name="fixed_term" class="form-control" style="width: 80px;">
                        <volist name="fixed_term_day" id="term_day">
                            <option value="{$term_day}">{$term_day}</option>
                        </volist>
                    </select>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">卡券库存 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input type="text" name="quantity" class="form-control" value="1" pattern="^\d{1,10}$" title="只能填入正数" required/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">是否指定用户领取</label>
        <div class="col-sm-9">
            <select name="bind_openid" class="form-control">
                <option value="false">否</option>
                <option value="true">是</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">领取卡券原生页面是否可分享</label>
        <div class="col-sm-9">
            <select name="can_share" class="form-control">
                <option value="true">是</option>
                <option value="false">否</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">卡券是否可转赠</label>
        <div class="col-sm-9">
            <select name="can_give_friend" class="form-control">
                <option value="true">是</option>
                <option value="false">否</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">每人最大领取次数</label>
        <div class="col-sm-9">
            <input type="text" name="get_limit" class="form-control" pattern="^\d{1,10}$" title="只能填入正数"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">客服电话</label>
        <div class="col-sm-9">
            <input type="text" name="service_phone" class="form-control" pattern="^.{0,24}$" title="最多只能输入24个字符"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">第三方来源名</label>
        <div class="col-sm-9">
            <input type="text" name="source" class="form-control" pattern="^.{0,12}$" title="最多只能输入12个汉字"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">商户自定义入口名称</label>
        <div class="col-sm-9">
            <input type="text" name="custom_url_name" class="form-control" pattern="^.{0,5}$" title="最多只能输入5个汉字"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">商户自定义入口跳转外链的地址链接</label>
        <div class="col-sm-9">
            <input type="text" name="custom_url" class="form-control" pattern="^.{0,128}$" title="最多只能输入128个字符"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">显示在入口右侧的 tips</label>
        <div class="col-sm-9">
            <input type="text" name="custom_url_sub_title" class="form-control" pattern="^.{0,6}$" title="最多只能输入6个汉字"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">营销场景的自定义入口</label>
        <div class="col-sm-9">
            <input type="text" name="promotion_url_name" class="form-control" pattern="^.{0,5}$" title="最多只能输入5个汉字"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">入口跳转外链的地址链接</label>
        <div class="col-sm-9">
            <input type="text" name="promotion_url" class="form-control" pattern="^.{0,128}$" title="最多只能输入128个字符"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">显示在入口右侧的 tips</label>
        <div class="col-sm-9">
            <input type="text" name="promotion_url_sub_title" class="form-control" pattern="^.{0,6}$" title="最多只能输入6个汉字"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">排序 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input required="" value="{$vo.sort|default=0}" type="text" name="sort" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">卡券状态</label>
        <div class="col-sm-9">
            <div class='form-control'>
                <label><input <neq name='vo.status' value='1'>checked</neq> type="radio" name="status" value="2" /> 启用</label>
                <label><input <eq name='vo.status' value='1'>checked</eq> type="radio" name="status" value="1" /> 禁用</label>
            </div>
        </div>
    </div>

    <notempty name="vo">
        <input type="hidden" value="{$vo.id|default=0}" name="id"/>
    </notempty>
</block>

<block name="script">
    <script>
        $(function () {
            $('select[name=card_type]').change(function () {
                var type = $(this).val();
                var html = '';
                switch (type) {
                    case 'DISCOUNT':
                        html = "<div class='form-group'><label class='col-sm-2 control-label tr'>折扣额度</label><div class='col-sm-9'><input name='discount' type='text' class='form-control'>表示打折额度（百分比）。填 30 就是七折。</div></div>";
                        $('#card_detail').html(html);
                        break;
                    case 'CASH':
                        html = "<div class='form-group'><label class='col-sm-2 control-label tr'>减免金额 <b class='required'>*</b></label><div class='col-sm-9'><input name='reduce_cost' type='text' class='form-control'>表示减免金额（单位为分）</div></div><div class='form-group'><label class='col-sm-2 control-label tr'>起用金额 <b class='required'>*</b></label><div class='col-sm-9'><input name='least_cost' type='text' class='form-control'>表示起用金额（单位为分）</div></div>";
                        $('#card_detail').html(html);
                        break;
                    case 'GIFT':
                        html = "<div class='form-group'><label class='col-sm-2 control-label tr'>礼品名称</label><div class='col-sm-9'><input name='gift' type='text' class='form-control'></div></div>";
                        $('#card_detail').html(html);
                        break;
                    case 'GROUPON':
                        html = "<div class='form-group'><label class='col-sm-2 control-label tr'>团购详情</label><div class='col-sm-9'><textarea name='deal_detail' class='form-control'></textarea></div></div>";
                        $('#card_detail').html(html);
                        break;
                    case 'GENERAL_COUPON':
                        html = "<div class='form-group'><label class='col-sm-2 control-label tr'>优惠详情</label><div class='col-sm-9'><textarea name='default_detail' class='form-control'></textarea></div></div>";
                        $('#card_detail').html(html);
                        break;
                }
            }).trigger('change');

            $('#select-store').multiselect({
                includeSelectAllOption: true,
                buttonClass: 'form-control',
                selectAllText: '选中所有门店',
                allSelectedText: '所有门店',
                nonSelectedText: '请选择门店'
            });
        });
    </script>
</block>