<extend name='Admin@Public:index' />

<block name='ptitle'>
    {$ptitle}	 
    <in name="role" value="0,2">
    <span class='pull-right'>
        <button class="btn btn-success btn-sm mr5" onclick="delmore()">申请提现</button>
    </span>
    </in>
     <in name="role" value="0,1">
      <span class='pull-right'>
          <button class="btn btn-success btn-sm mr5" onclick="refutemore()">拒绝申请</button>
    </span>
     </in>
        <in name="role" value="0,1">
     <span class='pull-right'>
          <button class="btn btn-success btn-sm mr5" onclick="passmore()">通过申请</button>
    </span>
        </in>
</block>

<block name='content'>   
    <script type="text/javascript" src="__LIB__/pcasunzips.js"></script>

    <wx:table 
        list='list'
        id="discount_table"
        color="status|show_color2"
        sort='false'
        check="false"
        class='table table-striped table-responsive table-bordered table-center' 
        show='order_amount|show_income:收入,price|show_income:支出,create_date:时间' 
         />
</block>

<block name="search">
    <form onsubmit="return false" class="form-inline" action="__SELF__" method="GET" id="search_form" role="form">
        <div class="form-group p10" style="width: 15%">
            <label class="control-label">收入总金额:￥{$shouru}</label>
        </div>
        <div class="form-group p10" style="width: 15%">
            <label class="control-label">支出总金额:￥{$zhichu}</label>
        </div>
        
        <div class="form-group p10" style="width: 25%">
            <label class="control-label">开始时间</label>
            <input class="form-control" style="width: 75%" name="start_time"  data-date   value="{$Think.get.start_time}" />
        </div>
         <div class="form-group p10" style="width: 25%">
            <label class="control-label">结束时间</label>
            <input class="form-control" style="width: 75%" name="end_time" data-date   value="{$Think.get.end_time}" />
        </div>
        <div class="form-group p10 ml20">
            <div class="input-group ">
                <div class="cursor mr5 mt2 btn btn-default btn-sm" onclick="search()">
                    <span class="glyphicon glyphicon-search"></span> 搜索
                </div>
            </div>
        </div>
    </form>
</block>
<block name="script">
    <script>
  function search(){
      var start_time = $("input[name=start_time]").val();
       var end_time = $("input[name=end_time]").val();
	   if(!compartDate(start_time, end_time)) {
		   alert("开始日期不能大于结束日期");
	   }else{
               
               $('#search_form').submit();
           }
      
  }  
  function compartDate(beginDate, endDate) {
		var dateStr1 = beginDate.split("-");
		var date1 = new Date(dateStr1[0], dateStr1[1], dateStr1[2]);
		
		var dateStr2 = endDate.split("-");
		var date2 = new Date(dateStr2[0], dateStr2[1], dateStr2[2]);
		
		if(date1 > date2) {
			return false;
		} else {
			return true;
		}
	}
  </script>
</block>>