<extend name='Admin@Public:form' />

<block name="content">

    <div class="modal-header title">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">详情</h4>
    </div>
    <div class="modal-body"> 
        <div class="row">
            <div class="col-xs-12 ">
                <div class="well p0 pb20">
                    <div class='split'>
                        <i class='glyphicon glyphicon-edit'></i> 订单信息
                    </div>
          
                        <div class="row mt10">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="row mt10">
                                            <div class="col-xs-2">订单编号：{$info.order_no}</div>
                                            <div class="col-xs-2">产品名：{$name}</div>
                                            <div class="col-xs-2">名字：{$info.accept_name}</div>
                                            <div class="col-xs-2">订单金额：{$info.order_amount}</div>
                                            <div class="col-xs-2">折扣金额：{$info.order_discount}</div>
                                            <div class="col-xs-2">折扣率：{$discount}%</div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <a class='btn btn-warning btn-sm mr20' onclick="$.form.close();" href='javascript:void(0);'>关闭</a>
    </div>
</block>