<extend name='Admin@Public:index' />

<block name='ptitle'>
    {$ptitle}
    <span class='pull-right'>
        <a class="btn btn-success btn-sm mr5" id="exporting" href="{:U('Apps/Lottery/exporting')}">导出中奖信息</a>
    </span>
</block>

<block name='content'>
    <wx:table
        list='list'
        check='false'
        class='table table-striped table-responsive table-bordered table-center' 
        show='name:用户姓名,nickname:微信昵称,headimgurl|show_img_link:头像,prize:中奖内容,phone:联系电话,province:省份,city:城市,create_date:中奖时间' 
        />
</block>