<extend name='Admin@Public:index' />

<block name='ptitle'>
    {$ptitle}
</block>

<block name='content'>    
    <wx:table
        list='list'
        color="status"
        check="false"
        class='table table-striped table-responsive table-bordered table-center' 
        show='name:用户名,sex:性别,phone:电话号码,nickname:昵称,num:推广数量,myaddress:地址,create_time:注册时间'
        />
</block>

<block name="search">
    <form onsubmit="return false" class="form-inline" action="__SELF__" method="GET" id="search_form" role="form" >
        <div class="form-group p10" style="width: 30%">
            <label class="control-label">推广员总数:{$total}</label>
<!--            <input class="form-control" style="width: 70%; background-color: #fff;border-style:none" disabled name="total" value="{$total}" />-->
        </div>
        <div class="form-group p10" style="width: 30%">
            <label class="control-label">新增推广员数量:{$new_promotion}</label>
<!--            <input class="form-control" style="width: 65%;background-color: #fff;border-style:none" disabled name="new_promotion" value="{$new_promotion}" />-->
        </div>
        
        <div class="form-group p10"id="sales_time" style="width: 30%">
            <label class="control-label">日期:</label>
            <input class="form-control" style="width: 80%" data-date type="text" name="create_time" value="{$Think.get.create_time}" required=''/>
        </div>

        <div class="form-group p10 ml20">
            <div class="input-group ">
                <div class="cursor mr5 mt2 btn btn-default btn-sm" onclick="search_form.submit()">
                    <span class="glyphicon glyphicon-search"></span> 搜索
                </div>
            </div>
        </div>
    </form>
</block>
