<extend name='Admin@Public:index' />

<block name='pContent'>
    <form action="{:U('Apps/Puzzle/edit')}" data-ajax="true" method="post"  class="form-horizontal mb40" role="form">
        <div class="panel panel-default mb10">
            <div class="panel-heading title">
                {$ptitle}
            </div>
            <div class="form-group mt20">
                <label class="col-sm-2 control-label tr">页面标题 <b class="required">*</b></label>
                <div class="col-sm-9">
                    <input autofocus required="" value="{$info.title}" pattern="^.{1,}$" type="text" title="页面标题必须填写" name="title" class="form-control" placeholder="输入页面标题">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label tr">图片 <b class="required">*</b></label>
                <div class="col-sm-9">
                    <input type='hidden' name="link" value="{$info.link}" />
                    <img data-name="link" data-online="true" alt="" class="thumbnail upload_one_img" style="width:400px;" src="{$info.link}"/>
                </div>
            </div>
            <div class="form-group mt20">
                <label class="col-sm-2 control-label tr">赠送积分 <b class="required">*</b></label>
                <div class="col-sm-9">
                    <input required="" value="{$info.integral|default=0}" pattern="number" type="text" title="赠送积分只可以是数字" name="integral" class="form-control" placeholder="输入赠送积分">
                </div>
            </div>
            <div class="form-group mt20">
                <label class="col-sm-2 control-label tr">每日次数 <b class="required">*</b></label>
                <div class="col-sm-9">
                    <input required="" value="{$info.times|default=3}" pattern="number" type="text" title="每日次数只可以是数字" name="times" class="form-control" placeholder="输入每日次数">
                </div>
            </div>
            <if condition="auth('Apps/Puzzle/edit')">
                <div class="tc p20">
                    <input type="hidden" value="1" name="id"/>
                    <button class="btn btn-success btn-sm"> 保 存 </button>
                </div>
            </if>
        </div>
    </form>
</block>