<extend name='Admin@Public:form' />

<block name="form">
	<div class="form-group">
		<label class="col-sm-2 control-label tr">标题 <b class="required">*</b></label>
		<div class="col-sm-9">
			<input name='title' value='{$vo.title}' class='form-control' required="" title='文件标题不能为空' />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">图片<empty name="vo"> <b class="required">*</b></empty></label>
		<div class="col-sm-9">
			<input type='hidden' name="link" value="{$vo.link}" />
			<img data-name="link" alt="" class="upload-thumbnail thumbnail upload_one_img w200" src="{$vo.link}"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">文章内容</label>
		<div class="col-sm-9">
			<textarea style='height:180px;width:100%' id='content' name="content">{$vo.content}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label tr">分享获取分值 <b class="required">*</b></label>
		<div class="col-sm-9">
			<input name='share_integral' value='{$vo.share_integral|default=1}' class='form-control' required="" title='请输入分享获取分值' />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label tr">浏览获取分值 <b class="required">*</b></label>
		<div class="col-sm-9">
			<input name='view_integral' value='{$vo.view_integral|default=1}' class='form-control' required="" title='请输入浏览获取分值' />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">状态</label>
		<div class="col-sm-9">
			<div class='form-control'>
				<label><input <neq name='vo.status' value='1'>checked</neq> type="radio" name="status" value="2" /> 启用</label>
				<label><input <eq name='vo.status' value='1'>checked</eq> type="radio" name="status" value="1" /> 禁用</label>
			</div>
		</div>
	</div>
	<notempty name="vo">
		<input type="hidden" value="{$vo.id|default=0}" name="id"/>
	</notempty>
</block>

<block name="script">
    <script>
        $.createEditor('content');
    </script>
</block>