<extend name='Admin@Public:form' />

<block name="form">
	<div class="form-group">
		<label class="col-sm-2 control-label tr">标题 <b class="required">*</b></label>
		<div class="col-sm-9">
			<input name='title' value='{$vo.title}' class='form-control' required title='标题不能为空' />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label tr">获取积分 <b class="required">*</b></label>
		<div class="col-sm-9">
			<input name='integral' value='{$vo.integral|default=0}' class='form-control' required />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label tr">参与次数 <b class="required">*</b></label>
		<div class="col-sm-9">
			<input name='count' value='{$vo.count|default=1}' class='form-control' required />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label tr">活动关闭提示语 <b class="required">*</b></label>
		<div class="col-sm-9">
			<textarea name='content' class='form-control' required title="请输入提示语">{$vo.content}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">状态</label>
		<div class="col-sm-9">
			<div class='form-control'>
				<label><input <neq name='vo.status' value='1'>checked</neq> type="radio" name="status" value="2" /> 启用</label>
				<label><input <eq name='vo.status' value='1'>checked</eq> type="radio" name="status" value="1" /> 禁用</label>
			</div>
		</div>
	</div>
	<notempty name="vo">
		<input type="hidden" value="{$vo.id|default=0}" name="id"/>
	</notempty>
</block>