<extend name='Admin@Public:index' />

<block name='content'>
    <wx:table
        list='list'
        color="status|show_order_color=$vo"
        check="false"
        class='table table-striped table-responsive table-bordered table-center' 
        show='name:门店,order_count:订单量,order_sum|show_price:销售量' 
        action="id|show_load_button:门店详情#Data/Sales/details"
        />
</block>

<block name="search">
    <form onsubmit="return false" class="form-inline" action="__SELF__" method="GET" id="search_form" role="form">
        <div class="form-group p10">
            <label class="control-label">门店</label>
            <input class="form-control" name="name" value="{$Think.get.name}" maxlength="15px"/>
        </div>
        <div class="form-group p10 ml20">
            <div class="input-group ">
                <div class="cursor mr5 mt2 btn btn-default btn-sm" onclick="search_form.submit()">
                    <span class="glyphicon glyphicon-search"></span> 搜索
                </div>
            </div>
        </div>
    </form>
</block>