<extend name='Admin@Public:form' />

<block name='form'>
    <div class="form-group">
        <label class="col-sm-2 control-label">类型</label>
        <div class="col-sm-9">
            <div class='form-control'>
                <label><input <neq name='vo.type' value='1'>checked</neq> type="radio" name="type" value="1" /> 启用</label>
                <label><input <eq name='vo.type' value='1'>checked</eq> type="radio" name="type" value="2" /> 禁用</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">广告主 <b class="required">*</b></label>
        <div class="col-sm-9">
            <select name='advertiser_id' required="" pattern='^[1-9]+[0-9]*$' title='请选择广告主' class='form-control'>
                <volist name='advList' id='adv'>
                    <option value='{$adv.advertiser_id}' <eq name='vo.advertiser_id' value='$adv.advertiser_id'>selected="selected"</eq>>{$adv.name}</option>
                </volist>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">商务经理 <b class="required">*</b></label>
        <div class="col-sm-9">
            <select name='user_id' required="" pattern='^[1-9]+[0-9]*$' title='请选择商务经理' class='form-control'>
                <volist name='userList' id='user'>
                    <option value='{$user.id}' <eq name='vo.user_id' value='$user.id'>selected="selected"</eq>>{$user.name}</option>
                </volist>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">广告名称 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input autofocus required="" value="{$vo.ad_name}" pattern="^.{2,}$" title="广告名称至少2个字符！" type="text" name="ad_name" class="form-control" id="ad_name" placeholder="输入广告名称">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">广告类别 <b class="required">*</b></label>
        <div class="col-sm-9">
            <select name='ad_type_id' required="" pattern='^[1-9]+[0-9]*$' title='请选择广告类别' class='form-control'>
                <volist name='adTypeList' id='adv'>
                    <option value='{$adv.type_id}' <eq name='vo.ad_type_id' value='$adv.type_id'>selected="selected"</eq>>{$adv.type_name}</option>
                </volist>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">操作系统 <b class="required">*</b></label>
        <div class="col-sm-9">
            <div class='form-control'>
                <label><input <neq name='vo.system_type' value='1'>checked</neq> type="radio" name="system_type" value="1" /> IOS</label>
                <label><input <eq name='vo.system_type' value='1'>checked</eq> type="radio" name="system_type" value="2" /> Android</label>
            </div>
        </div>
    </div>

    <div class="form-group" id="xsqg">
        <label class="col-sm-2 control-label">截止日期 <b class="required">*</b></label>
        <!--<div class="col-sm-9">-->
            <!--<input autofocus required="" value="{$vo.end_time}" type="text" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"  name="end_time" class="form-control" id="end_time" placeholder="输入抢购截止时间">-->
        <!--</div>-->

        <div class="col-sm-9">
            <input autofocus required=""  onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" name="end_time" id="end_time" class="form-control" placeholder="输入截止时间"
            <gt name="vo.end_time|strtotime" value="0">
                    value="{$vo.end_time}"
                    <else/>
                    value="{:date('Y-m-d h:m:s',time())}"
                </gt>
                />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">状态 <b class="required">*</b></label>
        <div class="col-sm-9">
            <select name='pid' class='form-control'>
                <option value='2' <eq name='vo.status' value='2'>selected="selected"</eq>>开启</option>
                <option value='1' <eq name='vo.status' value='1'>selected="selected"</eq>>关闭</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">申请开关 <b class="required">*</b></label>
        <div class="col-sm-9">
            <div class='form-control'>
                <label><input <neq name='vo.apply_switch' value='1'>checked</neq> type="radio" name="apply_switch" value="1" /> 开起</label>
                <label><input <eq name='vo.apply_switch' value='1'>checked</eq> type="radio" name="apply_switch" value="2" /> 关闭</label>
            </div>
        </div>
    </div>

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label tr">结算货币 <b class="required">*</b></label>-->
        <!--<div class="col-sm-9">-->
            <!--<select name='currency_type' required="" pattern='^[1-9]+[0-9]*$' title='请选择结算货币' class='form-control'>-->
                <!--<option value='2' <eq name='vo.currency_type' value='2'>selected="selected"</eq>>CNY_￥</option>-->
                <!--<option value='1' <eq name='vo.currency_type' value='1'>selected="selected"</eq>>USD_$</option>-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <label class="col-sm-2 control-label tr">结算方式 <b class="required">*</b></label>
        <div class="col-sm-9">
            <!--结算方式  1 CPA  2 CPI   3 CPS  4  CPC  5 CPM  6 Game Intermodal-->
            <select name='settlement_type' required="" pattern='^[1-9]+[0-9]*$' title='请选择结算方式' class='form-control'>
                <option value='1' <eq name='vo.settlement_type' value='1'>selected="selected"</eq>>CPA</option>
                <option value='2' <eq name='vo.settlement_type' value='2'>selected="selected"</eq>>CPI</option>
                <option value='3' <eq name='vo.settlement_type' value='3'>selected="selected"</eq>>CPS</option>
                <option value='4' <eq name='vo.settlement_type' value='4'>selected="selected"</eq>>CPC</option>
                <option value='5' <eq name='vo.settlement_type' value='5'>selected="selected"</eq>>CPM</option>
                <option value='6' <eq name='vo.settlement_type' value='6'>selected="selected"</eq>>Game Intermodal</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">接入单价 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input required="" value="{$vo.access_price|default=0.00}" type="text" name="access_price" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">投放单价 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input required="" value="{$vo.launch_price|default=0.00}" type="text" name="launch_price" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">
            浏览链接&nbsp;
            <i class="glyphicon glyphicon-question-sign" title="显示报价或登陆页面的预览的URL；URL上不需要跟踪像素" data-toggle="tooltip" data-placement="top" data-html="true"></i>
        </label>
        <div class="col-sm-9">
            <input value="{$vo.browse_link}" type="text" name="browse_link" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">
            广告追踪链接&nbsp;
            <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-html="true" title="你的渠道流量将会引导到目标地址，并且该地址必须包含'click_id'参数。你还可以从下面的列表中添加其他追踪参数"></i>
        </label>
        <div class="col-sm-9">
            <input autofocus required="" value="{$vo.ad_track_link}" title="请输入广告追踪链接！" type="text" name="ad_track_link" class="form-control" id="ad_track_link" placeholder="输入广告追踪链接">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">
            追踪参数
            <i class="glyphicon glyphicon-question-sign" style="margin-left: 5px" data-toggle="tooltip" data-html="true" title="选择广告客户希望跟踪您的流量的任何参数，以将其附加到URL中。"></i>
        </label>
        <div class="col-sm-9">
            <table class='table table-striped table-responsive table-bordered table-center' cellpadding="0" cellspacing="0" >
                <tbody >
                    <tr class="active" >
                        <td style="background-color: #fff">{click_id}</td>
                        <td style="background-color: #fff">{offer_id}</td>
                        <td style="background-color: #fff">{event_id}</td>
                        <td style="background-color: #fff">{country_id}</td>
                        <td style="background-color: #fff">{aff_id}</td>
                    </tr>
                    <tr class="active" >
                        <td style="background-color: #fff">{adv_id}</td>
                        <td style="background-color: #fff">{adv_sub1}</td>
                        <td style="background-color: #fff">{adv_sub2}</td>
                        <td style="background-color: #fff">{adv_sub3}</td>
                        <td style="background-color: #fff">{aff_sub1}</td>
                    </tr>
                    <tr class="active" >
                        <td style="background-color: #fff">{aff_sub2}</td>
                        <td style="background-color: #fff">{aff_sub3}</td>
                        <td style="background-color: #fff">{aff_sub4}</td>
                        <td style="background-color: #fff">{aff_sub5}</td>
                        <td style="background-color: #fff">{source_id}</td>
                    </tr>
                    <tr class="active" >
                        <td style="background-color: #fff">{agent}</td>
                        <td style="background-color: #fff">{click_time}</td>
                        <td style="background-color: #fff">{payout}</td>
                        <td style="background-color: #fff">{amount}</td>
                        <td style="background-color: #fff">{referer}</td>
                    </tr>
                    <tr class="active" >
                        <td style="background-color: #fff">{accept_lan}</td>
                        <td style="background-color: #fff">{ip}</td>
                        <td style="background-color: #fff">{unique_click}</td>
                        <td style="background-color: #fff">{currency}</td>
                        <td style="background-color: #fff">{ios_idfa}</td>
                    </tr>
                    <tr class="active" >
                        <td style="background-color: #fff">{android_id}</td>
                        <td style="background-color: #fff">{google_aid}</td>
                        <td style="background-color: #fff">{conversion_ip}</td>
                        <td style="background-color: #fff">{callback}</td>
                        <td style="background-color: #fff"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label tr">广告追踪链接 <b class="required">*</b></label>-->
        <!--<div class="col-sm-9">-->
            <!--<textarea required="" title="请输入广告追踪链接"  value="{$vo.ad_track_link}" type="text" name="ad_track_link" class="form-control" rows="4">{$vo.ad_track_link}</textarea>-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <label class="col-sm-2 control-label tr">描述</label>
        <div class="col-sm-9">
            <textarea style='height:250px;width:100%' data-editor name="description">{$vo.description}</textarea>
        </div>
    </div>

    <notempty name="vo">
        <input type="hidden" value="{$vo.ad_id|default=0}" name="ad_id"/>
    </notempty>

</block>


<block name="script">
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
</block>
