<extend name='Admin@Public:index' />

<block name='ptitle'>
    {$ptitle}
    <span class='pull-right'>
        <if condition="auth('Ad/Advertiser/edit')">
            <button class="btn btn-success btn-sm mr5" data-del data-path='Ad/Advertiser/del'>批量删除</button>
        </if>
    </span>
</block>

<block name='content'>
    <wx:table
            list='list'
            color="status|show_color"
            sort="true"
            check="true"
            class='table table-striped table-responsive table-bordered table-center'
            show='name:广告商名称,email:广告商邮箱,portrait|show_img_link:广告商头像,identity|get_identity_name:身份,type|get_type_name:类型,contacts_name:联系人名字,contacts_emali:联系人邮箱,contacts_mobile:联系人手机号码,contacts_qq:联系人QQ,contacts_wechat:联系人微信,add_time:添加时间'
            action='advertiser_id|show_load_button:审核#Ad/Advertiser/to_examine' />
</block>
