<extend name='Admin@Public:index' />

<block name='ptitle'>
    {$ptitle}
</block>

<block name='pContent'>
    <form onsubmit="return false" action="__URL__/set" data-ajax="true" method="post"  class="form-horizontal mb40" role="form">
        <div class="panel panel-default mb10">
            <!-- Default panel contents -->
            <div class="panel-heading title">
                {$ptitle}
            </div>
            
            <div class="form-group mt20 pl10 pr10">
                <label class="col-sm-2 control-label tr">门店佣金(%):<b class="required">*</b></label>
                <div class="col-sm-9">
                    <input value="{$info.store_com}" type="text"   name="store_com" class="form-control" id="store_com" placeholder="请输入门店佣金" maxlength="3px">
                </div>
            </div>
            
            <div class="form-group mt20 pl10 pr10">
                <label class="col-sm-2 control-label tr">导购佣金(%):<b class="required">*</b></label>
                <div class="col-sm-9">
                    <input autofocus required="" value="{$info.sg_com}" type="text"   name="sg_com" class="form-control" id="sg_com" placeholder="请输入导购佣金" maxlength="10">
                </div>
            </div>
			
			 <div class="form-group mt20 pl10 pr10">
                <label class="col-sm-2 control-label tr">会员佣金(%):<b class="required">*</b></label>
                <div class="col-sm-9">
                    <input autofocus required="" value="{$info.xiaofei_com}"  type="text"   name="xiaofei_com" class="form-control" id="xiaofei_com" placeholder="请输入消费者佣金" maxlength="10">
                </div>
            </div>
            
            <if condition="auth('Fenxiao/Commission/set')">
                <div class="tc p20">
                    <button class="btn btn-success btn-sm"> 保 存 </button>
                </div>
            </if>
        </div>
    </form>
</block>
