<extend name="Wap@Public:index" />

<block name='body'>

    <div class='send-container hide'>
        <div class="shadow padding-20 text-999 margin-bottom-10">
            <input name='media_ids' type="hidden"/>
            <textarea class="width-pct-100 border-none send-text" placeholder="您想说些什么"></textarea>
            <div class='row'>
                <img src="__RES__/wap/images/add.png" class="col-xs-3 padding-2 chooseImage height-70" alt="" />
            </div>
        </div>
        <div class="shadow block padding-10 margin-bottom-10">
            <label class="block">
                <span class='text-999 font-12'>所有关注此公众号的用户可见</span>  
                <span class="pull-right">
                    <input type="checkbox" name="open" value='1' />
                </span>
            </label>
        </div>
        <div class="padding-6">
            <div class="col-xs-6 padding-left-6 padding-right-6"><button class="btn btn-grey btn-lg btn-block cancelImage">取消</button></div>
            <div class="col-xs-6 padding-left-6 padding-right-6"><button class="btn btn-main btn-lg btn-block sendImage">发送</button></div>
        </div>
    </div>


    <div class='photo-container' style="padding-bottom:60px">
        <empty name='list'>
            <div class="shadow padding-20 text-999 margin-top-10 text-center show-send-container">
                <eq name='mode' value='view'>
                内容不可见~~~ <br>立即发布宝宝日志！
                <else/>
                还有没内容哦~~~ <br>立即发布宝宝日志！
                </eq>
            </div>
        </empty>
        <include file="list" />
        <notempty name='list'>
            <div class='loadmore text-center'></div>
        </notempty>
    </div>

    <!--底部菜单栏开始-->
    <div class="font-12 shadow-bottom overflow-hidden margin-top-18 navbar-fixed-bottom text-center tab-bottom line-height-48">
        <div class="col-xs-5 height-49"><a href="{:U('Wap/Baby/daily',array('mode'=>'self'),true,true)}" class="block font-14">我的宝宝</a></div>
        <div class="col-xs-2 center-block padding-0">
            <a href="javascript:void(0)" class="block img-circle padding-top-6 btn-main width-50 height-50 show-send-container"><span class="glyphicon glyphicon-camera font-24 text-fff"></span></a>
        </div>
        <div class="col-xs-5"><a href="{:U('Wap/Baby/daily',array('mode'=>'all'),true,true)}" class="block font-14">宝宝动态</a></div>
    </div>
</block>

<block name='script'>
    {:W('Wechat/JsSign')}
    {:W('Wechat/jsHideMenu')}
    <script src="__RES__/wap/js/share.js" type="text/javascript"></script>
    <eq name="mode" value="view">
    <script src="__LIB__/jquery/masonry.pkgd.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            $('.item-photo-container').map(function () {
                var self = this;
                $(this).find('img').on('load', function () {
                    $(self).masonry({
                        itemSelector: 'img'
                    });
                });
            });
        });
    </script>
    </eq>
    <script>


        function reSetEvent() {
            $('[data-share]').off('click').on('click', function (e) {
                e.stopPropagation();
                e.preventDefault();
                var share = {};
                share.title = '{$vo.ptitle}';
                share.desc = $(this).parent('div').prevAll('p').text();
                share.link = '{:U("Wap/Baby/daily",array("id"=>"_id_"),true,true)}'.replace('_id_', $(self).attr('data-share'));
                share.imgUrl = $(this).parent('div').prev('div').find('img').eq(0).attr('src');
                share.type = 'link';
                $.share.show(share);
            });

            //图片预览
            $('.item-photo-container').off('click').on('click', 'img.previewImage', function (e) {
                e.stopPropagation();
                e.preventDefault();
                var srcs = new Array();
                $(this).parent().find('img').map(function () {
                    srcs.push(this.src);
                });
                wx.previewImage({
                    current: $(this).attr('src'),
                    urls: srcs
                });
            });

            /**
             * 删除操作
             */
            $('[data-item-del]').off('click').on('click', function (e) {
                e.stopPropagation();
                e.preventDefault();
                var self = this;
                $.msg.confirm('确定要删除这条记录吗', function () {
                    $.msg.loading('&nbsp;');
                    var id = $(self).attr('data-item-del');
                    $.post('{:U("Wap/Baby/daily_del")}', {id: id}, function (res) {
                        if (res.status) {
                            $.msg.close();
                            $(self).parent().parent().parent('.shadow').slideUp(function () {
                                $(this).remove();
                                if ($('.send-container').find('.shadow').size() < 1) {
                                    window.location.href = '{:U("Wap/Baby/daily")}';
                                }
                            });
                        } else {
                            $.msg.alert(res.info);
                        }
                    }, 'JSON');
                });
            });

            /**
             * 点赞操作
             */
            $('[data-praise]').off('click').on('click', function (e) {
                e.stopPropagation();
                e.preventDefault();
                var self = this;
                var id = $(this).attr('data-praise');
                $.msg.loading('&nbsp;');
                $.post('{:U("Wap/Baby/daily_praise")}', {id: id}, function (res) {
                    if (res.status) {
                        $.msg.close();
                        $(self).toggleClass('glyphicon-heart').toggleClass('glyphicon-heart-empty');
                        $(self).find('i').html(res.praise.length || 0);
                        var $con = $(self).parent().next('div').empty();
                        if ($con.size() < 1) {
                            $con = $('<div class=" clearfix height-30 overflow-hidden"></div>').appendTo($(self).parent().parent());
                        }
                        if (res.praise.length > 0) {
                            for (var i in res.praise) {
                                $con.append('<img src="{src}" class="img-circle width-30 pull-left margin-right-10 margin-bottom-4" alt=""/>'.replace('{src}', res.praise[i].headimgurl));
                            }
                        } else {
                            $con.remove();
                        }
                    } else {
                        $.msg.alert(res.info);
                    }
                }, 'JSON');
            });
        }
        reSetEvent.call();

        /**
         * 瀑布流加载
         * @returns {unresolved}
         */
        window.loaderurl = new Array();
        $(window).scroll(function () {
            if ($(document).scrollTop() + $(window).height() + 100 >= $(document).height()) {
                var url = $('div[data-offset-url]').last().attr('data-offset-url');
                for (var i in window.loaderurl) {
                    if (window.loaderurl[i] === url) {
                        return;
                    }
                }
                window.loaderurl.push(url);
                $('.loadmore').html('<img src="__LIB__/layui/layer.m/img/xubox_loading2.gif" style="padding:10px" alt=""/>');
                $.get(url, function (html) {
                    if (!html) {
                        $('.loadmore').html('<div style="padding:10px">已经是最后一条记录</div>');
                    } else {
                        $('.loadmore').before(html);
                        reSetEvent.call();
                    }
                });
            }
        });

        /**
         * 取消发送发送
         * @param {type} param1
         * @param {type} param2
         */
        $('.cancelImage').on('click', function () {
            $('.show-send-container').trigger('send.cancel');
        });

        /**
         * 选择图片
         * @param {type} localId
         * @param {type} success
         * @param {type} error
         * @returns {undefined}
         */
        $(".chooseImage").on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();
            var self = this;
            wx.chooseImage({
                success: function (res) {
                    var tpl = '<img src="{src}" class="col-xs-3 height-70 padding-2" alt="" />';
                    for (var i in res.localIds) {
                        var img = tpl.replace('{src}', res.localIds[i]);
                        $(img).appendTo($(self).parent()).on('click', function () {
                            var that = this;
                            $.msg.confirm('确定要移除这张图片吗？', function () {
                                $(that).remove();
                                $.msg.close();
                            });
                        });
                    }
                }
            });
        });

        $('.show-send-container').on('click', function () {
            $('body').data('scrollTop', $('body').scrollTop()).scrollTop(0);
            $('.photo-container').addClass('hide');
            $('.send-container').removeClass('hide');
        }).bind('send.cancel', function () {
            $('body').scrollTop($('body').data('scrollTop') || 0);
            $('.photo-container').removeClass('hide');
            $('.send-container').addClass('hide');
        });

        $('input[name="media_ids"]').bind('send.upload.success', function () {
            var data = {sids: this.value, content: $('.send-text').val(), open: $('input[name=open]').is(':checked') ? 1 : 0};
            if (data.content.length < 1) {
                return $.msg.alert('还没有输入日志内容哦');
            }
            $.form.load('{:U("Wap/Baby/daily_handle")}', data, 'POST');
        });


        /**
         * 发布内容
         */
        $('.sendImage').on('click', function () {
            var imgs = $('.chooseImage').nextAll('img');
            if (imgs.size() < 1) {
                $.msg.alert('还没有选择要上传的图片哦<br/>是否继续选择图片？', function () {
                    $(".chooseImage").trigger('click');
                    $.msg.close();
                });
            } else if ($('.send-text').val().length < 1) {
                return $.msg.alert('还没有输入日志内容哦');
            } else {
                var srcs = new Array();
                var index = 0;
                var size = imgs.size();
                function _upload() {
                    upload(imgs.eq(index++).attr('src'), function (res) {
                        srcs.push(res.serverId);
                        if (index < size) {
                            _upload.call();
                        } else {
                            $('input[name="media_ids"]').val(srcs.join(',')).trigger('send.upload.success');
                        }
                    }, function (res) {
                        $.msg.alert('图片上传失败,请稍候再试' + JSON.stringify(res));
                    });
                }
                _upload.call();
            }
        });

        /**
         * 上传图片
         * @param {type} localId
         * @param {type} success
         * @param {type} error
         * @returns {undefined}
         */
        function upload(localId, success, error) {
            wx.uploadImage({
                localId: localId,
                isShowProgressTips: 1, // 默认为1，显示进度提示
                success: success,
                fail: error
            });
        }

    </script>


</block>
