<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <title>领取卡券</title>
        <link href="__RES__/three/css/base.css" rel="stylesheet" type="text/css" />
        <link href="__RES__/three/css/css.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__RES__/three/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="__RES__/three/js/k.js"></script>

    </head>

    <body>
        <div class="fix box" style="background:url(__RES__/three/images/hb.jpg) no-repeat; background-size:cover;">
            <div class="fix tc pct100 lqbtn" style="bottom:20%;">
                <div class="fix p10 rel mb12 br6 carlist">
                    <div class="fix sel-tl">
                        <input type='button' class="l maroon f16" id="addcard" value="领取优惠券">
                        <input type="hidden" name="user_card_code"/><input type="hidden" name="code_card_id" />
                        <span class="r card_choosed"></span>
                        <!--<span class="r"><img src="__RES__/qwap/images/sel.png" alt="img" width="13" /></span>-->
                    </div>
                </div> 
            </div>
        </div>
        {:W("Wap/Wechat/jsSign")}
        {:W('Wap/Wechat/jsHideMenu')}
        <script>
            wx.ready(function () {
                $("#addcard").click(function () {
                    wx.addCard({
                        cardList: [{
                                cardId: '{$card_config.card_id}',
                                cardExt: '{$card_config.card_ext}'
                            }], // 需要添加的卡券列表
                        success: function (res) {
                            var cardList = res.cardList; // 添加的卡券列表信息
                            wx.closeWindow();
                        }
                    });
                })
            })
        </script>
    </body>
</html>