<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>线下门店</title>
<link href="__RES__/jdjz/css/base.css" rel="stylesheet" type="text/css" />
<link href="__RES__/jdjz/css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__RES__/jdjz/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__RES__/jdjz/js/k.js"></script>

</head>

<body>
<div class="box">
    <form data-ajax="true" method="POST" action="{:U('Wap/Member/extension')}">
        <div class="m12 p20 fix bgwh bsdow">
            <div class="tc mt10 mb30">
                    <img src="__RES__/jdjz/images/logo_03.png" alt="logo" width="190" />
            </div>
            <div class="fix mb10">
                <input autofocus required="" pattern="^[0-9a-zA-Z]{10,15}$" title="只能输入10-15位的数字或字母" type="text" name="code" class="txt bdd" id="code" placeholder="请输入兑换码" maxlength="15">
<!--                <input type="text" required="required" name="code" class="txt bdd" title="请输入兑换码" placeholder="请输入兑换码" />-->
            </div>
            <div class="fix mb10">
                <input type="text" required="" pattern="^.{4,10}$" name="store_id" class="txt bdd" title="请输入4-10位有效的门店编号！" placeholder="请输入门店编号" maxlength="10"/>
            </div>
            <div class="fix mb10 mt30">
                <button type="submit" class="dib btn bd0 br4 bg-pink lh24 pct100">下一步</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>


