<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<title>{$ptitle}</title>
	<link href="__RES__/jonza3/css/base.css" rel="stylesheet" type="text/css" />
	<link href="__RES__/jonza3/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="__RES__/jonza3/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="__RES__/jonza3/js/k.js"></script>

</head>

<body>
	<div class="fix box">
    	<div class="fix rel">
        	<img src="__RES__/jonza3/images/img_01.jpg" alt="img" width="100%" class="db" />
            <div class="header-box pct100 tc">
            	<a href="javascript:;" class="dib p6 bgwh brpct50 header-box-img"><img src="{$info['headimgurl']}" alt="img" width="100%" class="db brpct50" /></a>
            </div>
            <div class="fix pct100 header-cout">
            	<ul class="fix tc g6 f16">
                	<li class="dtc pct1">可提现佣金：<span class="red f20">{$data.tixianprice}</span>元</li>
                </ul>
            </div>
        </div>
        <div class="fix bs1 btd bgwh p20">
        	<span class="l lh34 g6 mr10">申请金额</span>
            <div class="cell">
				<input type="text" name="price" id="price" class="txt" maxlength="10" onblur="panduan(this)">
            </div>
        </div>
        <div class="fix p20">
            <h3 class="mb4">配送方式</h3>
            <p class="f12">1、每月最多提现4次</p>
            <p class="f12">2、最低限额100元整</p>
        </div>
    </div>
    <div class="fix pct100 sqtx">
        <button class="bg-green white tc f16 bd0 pct100 pt14 pb14 db" onclick="tixian()">申请提现</button>
    </div>
	
	<script type="text/javascript">
		function panduan() {
			var price = $('#price').val();
			if (price === "") {
				alert("请输入提现金额!");
				return false;
			}
			re = /^[\+\-]?\d*?\.?\d*?$/;
			if(!re.test(price)) {
				alert("请输入正确的提现金额!");
				return false;
			}
		}
		
		//提现申请
            function tixian() {
                var price = $('#price').val();
                window.confirm('确定通过提现申请吗？') && $.post('{:U("Wap/Member/tixian")}', {"price": price}, function (data) {
					if (data.status) {
						alert(data.info);
                        setTimeout(function () {
                            window.location.reload();
                        }, 1600);
                    }
                });
            }
	</script>
</body>
</html>