<extend name='Public:index' />

<block name='body'>

    <div class="overflow-hidden padding-6 photo-container">
        <volist name="list" id="vo">
            <div class="padding-6 photo-item">
                <div class=" bg-fff shadow padding-12 ellipsis-p">
                        <img class="img-responsive center-block width-pct-100 previewImage" src="{$vo.link}" alt="img" />
                    <p class="padding-top-10">
                        <span class="text-999 font-12">{$vo.title}</span>
                        <span class="high-light-color pull-right">
                            <i class="main-color normal font-12" data-id="{$vo.id}">{$vo.count}<span class="glyphicon glyphicon-heart font-16 padding-left-2"></span></i>
                        </span>
                    </p>
                </div>
            </div>
        </volist>
    </div>
    <div style='height:60px;'></div>
    <div class="font-12 shadow-bottom overflow-hidden margin-top-18 navbar-fixed-bottom height-49 text-center tab-bottom line-height-48">
        <div class="col-xs-12 border-right-ddd height-49"><a href="{:U('Wap/Picture/join')}" class="btn btn-main btn-block margin-top-8 margin-bottom-20" style="color:white;">我要参加</a></div>
    </div>
</block>

<block name='script'>
    {:W('Wechat/JsSign')}
    <script>
        //图片预览
        $('.previewImage').on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();
            var srcs = new Array();
            $(this).parent().find('img').map(function () {
                srcs.push(this.src);
            });
            wx.previewImage({
                current: $(this).attr('src'),
                urls: srcs
            });
        });

        function vote(pid) {
            var vid = "{$vid}";
            $.msg.loading();
            $.post("{:U('Wap/Picture/handle')}", {"vid": vid, "pid": pid}, function (data) {
                if (data.status === 1) {
                    $.msg.alert(data.info, function () {
                        window.location.reload();
                    });
                } else {
                    $.msg.alert(data.info);
                }
            });
        }
        // 点赞
        $("[data-id]").click(function (e) {
            e.stopPropagation();
            e.preventDefault();
            vote($(this).data("id"));
        });
    </script>
</block>
