<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <title>游戏排行榜</title>
        <link href="__LIB__/puzzle/oldcss/css.css" rel="stylesheet" type="text/css" />
        <link href="__LIB__/puzzle/oldcss/base.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!--        
        <div class="p10 pt14 pb14 ovh top rel">
            <a href="javascript:history.back();"><img src="__RES__/wap/images/ym_09.png" alt="img" width="24" height="24" class="return" /></a>
            <h3 class="tc white f18">拼图游戏</h3>
        </div>
        -->
        <div class="pl8 pr8">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ph_tab mt20">
                <volist name="list" id="vo">
                    <tr>
                        <td><in name="key" value="0,1,2"><img src="__LIB__/puzzle/images/p_{$key}.png" alt="img" width="30" /></in></td>
                        <td><img src="{$vo.headimgurl}" width="70" class="br_pct50"></td>
                        <td><span class="color2">{$key+1}. {$vo.nickname}</span></td>
                        <td><span class="color1">{$vo.step}步</span></td>
                    </tr>
                </volist>
            </table>
            {:W("Wap/Wechat/jsHideMenu")}
            <!--
            <div class="p6 ovh mt30">
                    <a class="dib pct100 tc white pt8 pb8 f16 bg_color2 br4" onclick="location.reload();">参与抽奖</a>
            </div>
            -->
        </div>
    </body>
</html>