<extend name="Public:index"/>

<block name='body'>
    <div class="padding-20 padding-top-30 padding-bottom-30">
        <h4 class="text-center main-color padding-top-bottom-10">{$ptitle}</h4>
        <form action="?" method="post">
            <input type="text" value='{$code}' name='code' class="form-control margin-top-20 border-bottom-eee" placeholder="产品生产日期" />
            <button class="btn btn-main btn-block margin-top-20 margin-bottom-20">查询</button>
        </form>
        <p class=" clearfix "></p>
        <notempty name='result'>
            <p class="mt10">产品生产日期：{$code}</p>
            <p>查询结果：{$result}</p>
        </notempty>
        <notempty name='error'>
            <p class='bg-danger' style='padding:15px;'>{$error}</p>
        </notempty>
    </div>
</block>

<block name='script'>
    {:W('Wechat/JsSign')}
    <script src="__RES__/wap/js/share.js" type="text/javascript"></script>
    <link href="__LIB__/scroll/css/mobiscroll.custom-2.6.2.min.css" rel="stylesheet" type="text/css"/>
    <script src="__LIB__/scroll/js/mobiscroll.custom-2.6.2.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            //分享处理
            var share = {};
            share.title = '{$ptitle}';
            share.desc = '输入产品生产日期查询{$ptitle}';
            share.link = '{:to_domain(url_filter())}';
            share.imgUrl = '{$data.link}';
            share.type = 'link';
            $.share.data(share);
            //日期处理
            $('[name=code]').scroller({
                rows: 5,
                height: 30,
                width: 55,
                display: "bottom",
                lang: "zh",
                mode: "scroller",
                preset: "date",
                theme: "android-ics light",
                dateFormat: 'yymmdd',
                dateOrder: 'yyMMdd'
            });
        });

    </script>
</block>
