<!DOCTYPE html>
<html>
    <head>
        <title>产品防伪查询</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            *{height:100%;width:100%;padding:0;margin:0;}
            iframe{border:none;padding:0;overflow:auto}
        </style>
    </head>
    <body>
        <iframe src="http://www.612315.com/fwquery.html"></iframe>
        <notempty name='baidu_tongji_src'>
            <img style='width: 1px;height:1px;overflow:hidden' src='{$baidu_tongji_src}' alt />
        </notempty>
</body>
</html>
