<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <title>{$vo.title}-详情</title>
        <link href="__LIB__/puzzle/oldcss/base.css" rel="stylesheet" type="text/css" />
        <link href="__LIB__/puzzle/oldcss/css.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__LIB__/jquery/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        <div class="p10 pt14 pb14 ovh top rel">
            <a href="javascript:history.back();"><img src="__RES__/wap/images/ym_09.png" alt="img" width="24" height="24" class="return" /></a>
            <h3 class="tc white f18">分享详情</h3>
        </div>
        <div class="ovh">
            <img src="{$vo.link}" alt="img" width="100%" />
            <div class="p20">
                <h3 class="f16 g1fb b mb12 ell color1 tc">{$vo.title}</h3>
                <div>{$vo.content}</div>
            </div>
        </div>
        <div class="tc mb30">
            <a class="btn btn-orange f16">我 要 分 享 拿 积 分</a>
        </div>

        <!-- 微信分享 -->
        {:W("Wap/Wechat/jsSign")}
        <script>
            wx.ready(function () {
                var share = {};
                share.title = document.title;
                share.desc = null;
                share.link = "{:to_domain(U('detail', array('id' => $vo['id'],'inviter' => encode($inviter))))}"; // 分享链接
                share.imgUrl = "{:to_domain($vo.link)}";// 分享图标
                share.type = 'link';
                share.success = function () {
                    $.post('__URL__/handle', {id: {$vo.id}}, function (data) {
                        WxSDK.tip.hide();
                        alert(data.info);
                    });
                };
                wx.onMenuShareTimeline(share);
                wx.onMenuShareAppMessage(share);
                wx.hideAllNonBaseMenuItem();
                wx.showMenuItems({
                    menuList: [
                        'menuItem:share:appMessage',
                        'menuItem:share:timeline',
                        'menuItem:favorite',
                        'menuItem:copyUrl',
                        'menuItem:profile',
                        'menuItem:addContact'
                    ]
                });

                wx.hideOptionMenu();
                //显示遮罩层
                $(".btn").on("click", function () {
                    wx.showOptionMenu();
                    if (!this.tipDiv) {
                        this.tipDiv = document.createElement("div");
                        this.tipDiv.id = "mcover";
                        this.tipDiv.innerHTML = "<span>123</span>";
                        document.body.appendChild(this.tipDiv);
                    }
                    this.tipDiv.style.display = 'block';
                });
                //隐藏遮罩

            });
        </script>
        <!-- /微信分享 -->
    </body>
</html>