<extend name="Public:index" />
<block name="main">
    <div class="p10 ovh mt10">
        <h2 class="f16 b fw pb8">开启“提供位置信息方法！”</h2>
        <hr class="hr01">
        <div class="mt10 lh22">
            <p class="tc">
                在公众号对话框点击右上角 <img src="__RES__/wap/images/d_06.png" alt="img"><br>
                打开“提供位置信息”选项 &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
        </div>
    </div>
    <div class="ovh mt30">
        <div class="pct90 ovh ma wzor lh22 bgwh">
            <div class="p10 ovh bbot">
                <h3 class="b tc f16 mb10">获取位置错误</h3>
                <center>
                    <p>
                        无法获取你的位置，请打开<br>
                        “提供位置信息”功能，或者<br>
                        直接在微信对话框发送您的位置！
                    </p>
                </center>
            </div>
        </div>
</block>
