<extend name="Public:index" />

<block name="body">

    <empty name='Think.get.id'>
        <div class="overflow-hidden shadow">
            <!--banner开始-->
            <div class="box_pic">
                <if condition="count($list) gt 1 ">
                    <div id="slider1" class="swipe">
                        <ul class="piclist">
                            <volist name="list" id="vo">
                                <li><a href="{:U('Wap/Text/cat',array('id'=>$vo['id']))}"><img class="img-responsive" src="{$vo.link}" alt="" /></a></li>
                            </volist>
                        </ul>
                    </div>
                    <div id="pagenavi" class="page">
                        <span class="pageBox">
                            <volist name="list" id="vo">
                                <a href="javascript:;"  class="<eq name='i' value=''>active</eq>"></a>         
                            </volist>
                        </span>
                    </div>
                    <else />
                    <volist name="list" id="vo">
                        <a href="{:U('Wap/Text/cat',array('id'=>$vo['id']))}"><img class="img-responsive width-pct-100" src="{$vo.link}" alt="" /></a>
                    </volist>
                </if>
            </div>
            <!--banner结束-->
        </div>
    </empty>

    <volist name='list' id='cat'>
        <div class="padding-20 shadow margin-top-10 text-container">

            <div class="media border-bottom-eee padding-top-bottom-10 main-color">
                {$cat.title} 
                <empty name='Think.get.id'>
                    <a href="{:U('Wap/Text/more',array('cid'=>$cat['id']))}" class="pull-right green-a {$cat.more_class}">更多>></a>
                </empty>
            </div>
            <volist name='cat.list' id='vo'>
                <div class="media border-bottom-eee padding-top-bottom-20">
                    <a class="media-left pull-left" href="{:U('Wap/Text/view',array('id'=>$vo['id']))}">
                        <img class="media-object width-60 height-40" src="{$vo.link}" alt />
                    </a>
                    <a href="{:U('Wap/Text/view',array('id'=>$vo['id']))}" class="block">
                        <span class="media-heading ellipsis block">{$vo.title}</span>
                        <span class="text-999">{$vo.create_date|strtotime|date="Y-m-d",###}</span>
                    </a>
                </div>
            </volist>
            {$page}
        </div>
    </volist>
</block>

<block name="script">
    {:W('Wap/Wechat/jsHideMenu')}
    <script src="__RES__/wap/js/touchslider.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.text-container').map(function () {
                $(this).find('.border-bottom-eee:last').removeClass('border-bottom-eee');
            });

            var sliderLink, slider;
            sliderLink = $('#pagenavi a').on('click', function () {
                var index = $(this).index();
                slider.slide(index);
            });
            slider = new TouchSlider({
                id: 'slider1',
                auto: '0',
                fx: 'ease-out',
                direction: 'left',
                speed: 600,
                timeout: 5000,
                before: function (index) {
                    sliderLink.removeClass('active').eq(index).addClass('active');
                }
            });
        });

    </script>
</block>
