<extend name='Admin@Public:index' />

<block name='ptitle'>
    {$ptitle}
</block>

<block name='pContent'>
    <form onsubmit="return false" action="__URL__/set" data-ajax="true" method="post"  class="form-horizontal mb40" role="form">
        <div class="panel panel-default mb10">
            <!-- Default panel contents -->
            <div class="panel-heading title">
                {$ptitle}
            </div>
            
            <div class="form-group mt20 pl10 pr10">
                <label class="col-sm-2 control-label tr">每月提现次数 <b class="required">*</b></label>
                <div class="col-sm-9">
                    <input value="{$info.number}"   type="text"   name="number" class="form-control" id="number" placeholder="请输入每月提现次数" maxlength="3px">
                </div>
            </div>
            
            <div class="form-group mt20 pl10 pr10">
                <label class="col-sm-2 control-label tr">提现最低金额 <b class="required">*</b></label>
                <div class="col-sm-9">
                    <input autofocus required="" value="{$info.min_money}" pattern="^.{3,}$" title="每次提现最低金额100元！" type="text"   name="min_money" class="form-control" id="min_money" placeholder="请输入提现最低金额" maxlength="10">
                </div>
            </div>
            
            <notempty name="vo">
                <input type="hidden" value="{$vo.id|default=0}" name="id"/>
            </notempty>
            <if condition="auth('Store/Config/set')">
                <div class="tc p20">
                    <button class="btn btn-success btn-sm"> 保 存 </button>
                </div>
            </if>
        </div>
    </form>
</block>
