<extend name='Admin@Public:form' />

<block name='form'>
    <!-- 导入门店模版 -->
    <div class="form-group">
        <label for="model" class="col-sm-2 control-label">模版下载</label>
        <div class="col-sm-9">
            <a href="__RES__/精典妆家门店模版.xlsx" id="model" class='btn btn-sm btn-success glyphicon glyphicon-circle-arrow-down'>点击下载模版</a>
        </div>
    </div>

    <!-- 上传导入门店 -->
    <div class="form-group">
        <label class="col-sm-2 control-label tr">门店导入</label>
        <div class="col-sm-9">
            <input type="text" name="myfile" class="form-control"/>
            <button type="button" data-type="xls,xlsx" data-name="myfile" class="btn btn-sm btn-info upload_one_file glyphicon glyphicon-circle-arrow-up">点击上传门店</button>
            <span id="_filename"/></span>
        </div>
    </div>

    <notempty name="vo">
        <input type="hidden" value="{$vo.id|default=0}" name="id"/>
    </notempty>
</block>
