<extend name='Admin@Public:index' />

<block name='ptitle'>
    {$ptitle}
</block>

<block name='content'>
<!--    门店查看-->
    <in name="role" value="2">
        <wx:table
            list='list'
            color="status"
            check="false"
            class='table table-striped table-responsive table-bordered table-center' 
            show='create_date:兑换时间,username:推广员姓名,phone:电话号码,prize_name:兑换礼品'
        />
    </in>
    
<!--    总店查看-->
    <in name="role" value="0,1">
        <wx:table
            list='list'
            color="status"
            check="false"
            class='table table-striped table-responsive table-bordered table-center' 
            show='name:门店名称,duihuan_total:兑换总数,prize_name:礼品名称'
            action="store_id|show_storerecord_info:详情#Store/Stores/storesrecord"
        />
    </in>
    
</block>



<block name="script">
    <script type="text/javascript" src="__LIB__/My97/WdatePicker.js"></script>
</block>